:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}
/* ==========================Home Section =========================================================== */
/* ==========================Home Section =========================================================== */
.home {
  background-image: url("../images/landing.jpg");
  min-height: 100vh;
  background-size: cover;
}

.home .container {
  background-color: rgba(0, 0, 0, 0.562);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1111;
  padding: 0 130px;
}
/* .home .container::before {
  content: "\f104";
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: rgba(207, 205, 205, 0.562);
  font-size: 25px;
} */
.home .container .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: #999 solid 1px; */
  position: relative;
}
.home .container .nav-bar::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #999;
  z-index: -1;
}
.home .container .nav-bar i {
  display: none;
  color: #fff;
  font-size: 25px;
}
.home .container .nav-bar .image {
  width: 100px;
}
.home .container .nav-bar .image img {
  max-width: 100%;
}
.home .container .nav-bar ul {
  list-style: none;
  margin: 0;
}
.home .container .nav-bar ul li {
  color: #fff;
  margin-right: 15px;
  display: inline-block;
  transition: 0.3s;
  padding: 20px 0;
}
.home .container .nav-bar ul li:hover,
.home .container .nav-bar ul li.active {
  color: #09c;
  border-bottom: 1px solid #09c;
  /* position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #09c; */
}
@media screen and (max-width: 992px) {
  .nav-list {
    display: none;
  }

  .home .container .nav-bar i {
    display: block;
  }
}

.home .container .home-content {
  /* position: relative; */
  position: absolute;
  top: 25%;
  left: 0;
  width: 50%;
  height: 300px;
  background-color: rgba(15, 116, 143, 0.7);
  padding: 30px 50px;
  padding-top: 55px;
}
@media screen and (max-width: 767px) {
  .home .container .home-content {
    padding: 0;
  }
}
/* .home .container .home-content::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(207, 205, 205, 0.562);
} */

.home .container .home-content .text-section p {
  padding-left: 75px;
  color: #fff;
  margin: 0;
  margin-top: 9px;
}
.home .container .home-content .text-section p:not(:last-child) {
  font-size: 30px;
}
.home .container .home-content .text-section p:last-child {
  line-height: 1.8;
  font-size: 15px;
}
@media screen and (max-width: 767px) {
  .home .container .home-content p {
    padding-left: 1.4em;
    margin: 0;
  }
  .home .container .home-content .text-section p:not(:last-child) {
    font-size: 1.45em;
    margin-bottom: 0.75em;
  }
  .home .container .home-content .text-section p:last-child {
    line-height: 1.4;
    font-size: 0.875em;
  }
}

.home .container .arrow-left {
  content: "";
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: rgba(207, 205, 205, 0.877);
  font-size: 35px;
  font-weight: 800;
}
.home .container .arrow-right {
  content: "";
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: rgba(207, 205, 205, 0.877);
  font-size: 35px;
  font-weight: 800;
}
@media screen and (max-width: 767px) {
  .home .container .arrow-left {
    font-size: 1.675em;
  }
  .home .container .arrow-right {
    font-size: 1.675em;
  }
}
.home .container .paganation-dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.home .container .paganation-dots ul {
  list-style: none;
}
.home .container .paganation-dots ul li {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 15px;
}
@media screen and (max-width: 767px) {
  .home .container .paganation-dots ul li {
    width: 16px;
    height: 16px;
  }
}
.home .container .paganation-dots ul li:nth-child(2) {
  background-color: #09c;
  border: none;
}
/* ======================================SERVICES SECTION ================================================= */
/* ======================================SERVICES SECTION ================================================= */
/* ======================================SERVICES SECTION ================================================= */
/* ======================================SERVICES SECTION ================================================= */
.services .container {
  max-width: 85%;
  padding: 55px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container .intro-section {
  text-align: center;
  width: 550px;
  margin-bottom: 50px;
}
.services .container .intro-section h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 70px;
  position: relative;
}
.services .container .intro-section h2::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #555;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.services .container .intro-section h2::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #555;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  z-index: 2;
  background-color: #fff;
}
.services .container .intro-section p {
  color: #777;
  line-height: 2;
}

.services .container .content-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-template-rows: repeat(2, 350px); */
  gap: 50px;
  width: 100%;
}
.services .container .content-section .service-box {
  display: flex;
  gap: 50px;
}
.services .container .content-section .service-box .text h3 {
  margin-bottom: 30px;
  color: #09c;
}
.services .container .content-section .service-box .text p {
  line-height: 2;
  color: #777;
}
/* =====================================DESIGN FEATURES================================================== */
/* =====================================DESIGN FEATURES================================================== */
/* =====================================DESIGN FEATURES================================================== */
/* =====================================DESIGN FEATURES================================================== */
/* =====================================DESIGN FEATURES================================================== */
.design-features {
  height: 600px;
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  /* overflow: hidden; */
}
.design-features .container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.562);
  overflow: hidden;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
}
.design-features .container .image {
  position: absolute;
  bottom: -68px;
  left: 157px;
}
.design-features .container .image img {
  max-width: 100%;
}
@media screen and (max-width: 1170px) {
  .design-features .container .image {
    left: 75px;
  }
  .design-features .container .image img {
    max-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .design-features .container .image {
    display: none;
  }
}
.design-features .container .text {
  color: white;
  padding: 50px;
  background-color: rgba(15, 116, 143, 0.7);
  width: 600px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.design-features .container .text h3 {
  font-weight: 400;
  font-size: 1.375rem;
  margin-bottom: 25px;
}
@media screen and (max-width: 1170px) {
  .design-features .container .text {
    padding: 35px;
    width: 450px;
  }
  .design-features .container .text h3 {
    font-size: 1.2em;
  }
}

.design-features .container .text ul {
  list-style-type: none;
}
.design-features .container .text ul li {
  margin: 17px 0;
}
.design-features .container .text ul li::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  /* font-family: "Font Awesome 6 Free"; */
  font: var(--fa-font-solid);
  content: "\f108";
  margin-right: 15px;
}
/* ==================================================portfolio================================================= */
/* ==================================================portfolio================================================= */
/* ==================================================portfolio================================================= */
.portfolio {
  min-height: 100vh;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  gap: 60px;
}
.portfolio .intro-section {
  text-align: center;
  width: 550px;
  /* margin: auto; */
}
.portfolio .intro-section h3 {
  font-size: 2.3rem;
  font-weight: normal;
  margin-bottom: 70px;
  position: relative;
  text-transform: uppercase;
}
.portfolio .intro-section h3::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #555;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio .intro-section h3::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #555;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  z-index: 2;
  background-color: #fff;
}
.portfolio .intro-section p {
  color: #777;
  line-height: 2;
}

.portfolio .list ul {
  list-style: none;
}
.portfolio .list ul li {
  display: inline-block;
  margin-right: 15px;
}
.portfolio .list ul li:first-child {
  background-color: #09c;
  color: white;
  padding: 9px;
  border-radius: 4px;
}
.portfolio .content-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 325px);
  gap: 10px;
  justify-content: center;
}
/* @media screen and (max-width: 600px) {
  .portfolio .content-section {
    justify-content: center;
  }
} */
.portfolio .content-section .item {
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.portfolio .content-section .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.521);
  display: none;
  z-index: 1;
  transition: 0.7s;
}
.portfolio .content-section .item:hover .overlay {
  display: block;
}
.portfolio .content-section img {
  width: 100%;
  transition: 0.5s;
}
.portfolio .content-section .item:hover img {
  transform: scale(1.1);
}

.portfolio .content-section .item .caption {
  position: absolute;
  background-color: #ffffffcc;
  width: 100%;
  height: 70px;
  padding: 15px;
  z-index: 2;
  bottom: -100px;
  transition: 0.45s;
}
.portfolio .content-section .item:hover .caption {
  bottom: 0;
}

.portfolio .more-button {
  background-color: #09c;
  color: white;
  padding: 12px 20px;
  border-radius: 2px;
  font-size: 1.1rem;
  cursor: pointer;
}
/* ==============================================VIDEO ===================================================== */
/* ==============================================VIDEO ===================================================== */
/* ==============================================VIDEO ===================================================== */
/* ==============================================VIDEO ===================================================== */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #0099cc66;
  z-index: 1;
  text-align: center;
  color: #ffffff;
  padding: 50px;
}
.video .text h4 {
  font-weight: 400;
  font-size: 1.425rem;
  margin-bottom: 20px;
}
.video .text p {
  margin-bottom: 20px;
}
.video .text button {
  border: none;
  background-color: #181717;
  padding: 9px 13px;
  color: white;
  border-radius: 5px;
}
/* ===============================================About us================================================ */
/* ===============================================About us================================================ */
/* ===============================================About us================================================ */
/* ===============================================About us================================================ */
.about-us {
  /* min-height: 100vh; */
  padding: 70px;
  height: 540px;
  overflow: hidden;
}
.about-us .intro-section {
  text-align: center;
  width: 550px;
  margin: auto;
}
.about-us .intro-section h3 {
  font-size: 2.3rem;
  font-weight: normal;
  margin-bottom: 70px;
  position: relative;
  text-transform: uppercase;
}
.about-us .intro-section h3::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #555;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.about-us .intro-section h3::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #555;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  z-index: 2;
  background-color: #fff;
}
.about-us .intro-section p {
  color: #777;
  line-height: 2;
}
.about-us .image img {
  max-width: 100%;
}
.about-us .image {
  position: relative;
  bottom: -122px;
  left: 65%;
  transform: translateX(-50%);
}
/* ========================================Stauts============================================================= */
/* ========================================Stauts============================================================= */
/* ========================================Stauts============================================================= */
.status {
  padding: 100px;
  background-image: url("../images/stats.png");
  background-size: cover;
  position: relative;
}
.status::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000091;
}
.status .container {
  width: 98%;
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  justify-content: space-around;
  background-color: rgba(0, 153, 204, 0.507);
}
.status .container .box {
  color: white;
  padding: 50px;
  text-align: center;
  flex-basis: 23%;
}
.status .container .box .icon {
  width: 40px;
  height: 40px;
  margin: 0 auto 30px;
  background-color: #181717;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status .container .box .number {
  font-size: 3.45rem;
  font-weight: 600;
  margin-bottom: 15px;
}
/* ================================OUR SKILLS ============================================================ */
/* ================================OUR SKILLS ============================================================ */
/* ================================OUR SKILLS ============================================================ */
.our-skills {
  padding-top: 100px;
  padding-bottom: 100px;
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.our-skills .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.our-skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.our-skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.our-skills .testimonials .bullets li.active {
  background-color: #19c8fa;
  border-color: #19c8fa;
}
.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* ==================================================== QUATES ================================================== */
/* ==================================================== QUATES ================================================== */
/* ==================================================== QUATES ================================================== */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/quote.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
